<div class="auth-logo">
  <img routerLink="/" src="assets/images/portal-auth-logo.png" alt="portal logo" />
</div>
<div class="verticalCenter">
    <form *ngIf="!viewState.isForgotPasswordButton" class="auth-form" [formGroup]="forgotPassowrdForm">
      <h1 class="auth-form-title">{{viewState.authorizationModuleResourceModel.forgotPassword}}</h1>
      <h4 class="auth-form-subtitle">{{viewState.authorizationModuleResourceModel.noWorries}}</h4>
      <div *ngIf="viewState.serverErrorsModel.messages.length > 0" class="k-messagebox k-messagebox-error messagebox-errors">
        <div class="between">
          <div class="messagebox-errors-title">
            <span class="k-icon k-i-close-outline"></span>
            {{viewState.errorResourceListModel.pleaseFillTheFollowingFields}}
          </div>
          <span class="k-icon k-i-close" (click)="clearErrorsMessageboxClickEvent()"></span>
        </div>
        <ul>
          <li *ngFor="let error of viewState.serverErrorsModel.messages" class="messagebox-error">{{ error }}</li>
        </ul>
      </div>
      <div class="auth-form-fieldset">
        <kendo-formfield>
          <kendo-label [for]="email" text={{viewState.authorizationModuleResourceModel.emailAddress}}></kendo-label>
          <kendo-textbox formControlName="email" #email [clearButton]="true" (keyup.enter)="resetButtonClickEvent(forgotPassowrdForm.value)"></kendo-textbox>
          <kendo-formerror *ngIf="forgotPassowrdForm.controls['email']?.errors?.['required']">{{viewState.errorResourceListModel.emailEmpty}}</kendo-formerror>
          <kendo-formerror *ngIf="forgotPassowrdForm.controls['email']?.errors?.['email']">{{viewState.errorResourceListModel.emailValid}}</kendo-formerror>
        </kendo-formfield>
        <div class="auth-form-buttons">
          <button kendoButton themeColor="primary" (click)="resetButtonClickEvent(forgotPassowrdForm.value)">
            <kendo-loader *ngIf="viewState.isLoadingOnPost" themeColor="inverse" size="small"></kendo-loader>
             {{viewState.authorizationModuleResourceModel.resetPassword}}</button>
        </div>
        <p class="return-to-login">
          {{viewState.authorizationModuleResourceModel.returnTo}} <span class="login" routerLink="/login">{{viewState.authorizationModuleResourceModel.login}}</span>
        </p>
      </div>
    </form>
</div>

<section *ngIf="viewState.isForgotPasswordButton" class="checkMailSection">
  <h1 class="checkMail">{{viewState.authorizationModuleResourceModel.checkYourEmail}}</h1>
  <div class="sentPassword">
    <p >{{viewState.authorizationModuleResourceModel.weSentPasswordLinkTo}} </p>
    <p>{{viewState.userEmail}}</p>
  </div>
  <button class="open-email" kendoButton themeColor="primary">
    <a href="https://outlook.live.com/owa/" target="_blank">{{viewState.authorizationModuleResourceModel.openEmail}}</a>
  </button>
  <p>{{viewState.authorizationModuleResourceModel.didntReceiveTheEmail}} <span class="resend" (click)="resetButtonClickEvent(forgotPassowrdForm.value)">{{viewState.authorizationModuleResourceModel.clickToSend}}</span></p>
  <p class="return-to-login">
    {{viewState.authorizationModuleResourceModel.returnTo}} <span class="login" routerLink="/login">{{viewState.authorizationModuleResourceModel.login}}</span>
  </p>
</section>