<div class="container">
    <kendo-breadcrumb [items]="viewState.breadItems" (itemClick)="breadItemsViewState($event)"></kendo-breadcrumb>
    <h1 class="page-title">{{layoutResource.timeOffRequestResources.timeOffRequestHistory}}</h1>
    <div *ngIf="!viewState.loading; else pulsingLoader" class="layout">       
        <ng-container>
            <h2 class="layout-title">{{viewState.timeOffRequestAllHistoryViewModel.title}}</h2>
            <div class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.sender}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.sender}}</p>
            </div>
            <div class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.receiver}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.receiver}}</p>
            </div>
            <div class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.dateCreated}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.date  | date: 'dd.MM.yyyy' }}</p>
            </div>
            <div class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.deadLIne}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.deadLine | date: 'dd.MM.yyyy'}}</p>
            </div>
            <div *ngIf="viewState.timeOffRequestAllHistoryViewModel.type != viewState.timeOffRequestType['Custom']" class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.from}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.from | date: 'dd.MM.yyyy'}}</p>
            </div>
            <div *ngIf="viewState.timeOffRequestAllHistoryViewModel.type === viewState.timeOffRequestType['Vacation'] " class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.including}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.including | date: 'dd.MM.yyyy'}}</p>
            </div>
            <div class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.file}}</h3>
                <p class="information-form-row-description">
                    <span
                    class="k-icon file-exists"
                    [ngClass]="getFileClassByExtension(viewState.timeOffRequestAllHistoryViewModel?.file?.type)" (click)="openFileButtonClickEvent(viewState.timeOffRequestAllHistoryViewModel.file)"></span>
                </p>
            </div>
            <div class="information-form-row">
                <h3 class="information-form-row-title">{{layoutResource.timeOffRequestResources.description}}</h3>
                <p class="information-form-row-description">{{viewState.timeOffRequestAllHistoryViewModel.description}}</p>
            </div>
        </ng-container>
        <ng-container class="redirect-container">
            <kendo-panelbar *ngIf="viewState.timeOffRequestAllHistoryViewModel.redirects?.length > 0">
                <kendo-panelbar-item *ngFor="let redirect of viewState.timeOffRequestAllHistoryViewModel.redirects" title={{redirect.title}} icon="file" [ngClass]="
                    redirect.hasFile ? 'hasFile' : ''
                ">
                    <ng-template kendoPanelBarContent>
                        <div class="information-form-row">
                            <h4 class="information-form-row-title">{{layoutResource.timeOffRequestResources.file}}</h4>
                            <p class="information-form-row-description">
                                <span
                                class="k-icon file-exists"
                                [ngClass]="getFileClassByExtension(viewState.timeOffRequestAllHistoryViewModel?.file?.type)" (click)="openFileButtonClickEvent(viewState.timeOffRequestAllHistoryViewModel.file)"></span>
                            </p>
                        </div>
                        <div class="information-form-row">
                            <h4 class="information-form-row-title">{{layoutResource.timeOffRequestResources.comment}}</h4>
                            <p class="information-form-row-description">{{redirect.comment}}</p>
                        </div>
                    </ng-template>
                </kendo-panelbar-item>
            </kendo-panelbar>
        </ng-container>
        <ng-container *ngIf="viewState.statusChangeView">
            <h4 class="statement-status-row-title">{{viewState.timeOffRequestAllHistoryViewModel.statusChanger}}</h4>
            <div class="status-row-view">
                <h4 class="status-row-view-title">{{layoutResource.timeOffRequestResources.status}}</h4>
                <p class="status-row-view-description">
                    <kendo-chip *ngIf="viewState.timeOffRequestAllHistoryViewModel.status == viewState.statuses['InProgress']" size="small" rounded="full" themeColor="warning">{{layoutResource.timeOffRequestResources.inProgress}}</kendo-chip>
                    <kendo-chip *ngIf="viewState.timeOffRequestAllHistoryViewModel.status == viewState.statuses['Confirmed']" size="small" rounded="full" themeColor="success">{{layoutResource.timeOffRequestResources.confirmed}}</kendo-chip>
                    <kendo-chip *ngIf="viewState.timeOffRequestAllHistoryViewModel.status == viewState.statuses['Rejected']" size="small" rounded="full" themeColor="error">{{layoutResource.timeOffRequestResources.rejected}}</kendo-chip>
                </p>
            </div>
            <div class="status-row-view">
                <h4 class="status-row-view-title">{{layoutResource.timeOffRequestResources.statusChangeDate}}</h4>
                <p class="status-row-view-description">{{viewState.timeOffRequestAllHistoryViewModel.statusChangeDate}}</p>
            </div>
            <div class="status-row-view">
                <h4 class="status-row-view-title">{{layoutResource.timeOffRequestResources.file}}</h4>
                <p class="status-row-view-description">
                    <span
                        class="k-icon file-exists"
                        [ngClass]="getFileClassByExtension(viewState.timeOffRequestAllHistoryViewModel?.file?.type)" (click)="openFileButtonClickEvent(viewState.timeOffRequestAllHistoryViewModel.file)"></span>
                </p>
            </div>
            <div class="status-row-view">
                <h4 class="status-row-view-title">{{layoutResource.timeOffRequestResources.description}}</h4>
                <p class="status-row-view-description">{{viewState.timeOffRequestAllHistoryViewModel.statusComment}}</p>
            </div>
        </ng-container>
        <div class="status-buttons">
            <kendo-button *ngIf="viewState.timeOffRequestAllHistoryViewModel.status == viewState.statuses['InProgress']" class="inProgress-btn" [disabled]="true" size="small" rounded="large" icon="edit">{{layoutResource.timeOffRequestResources.inProgress}}</kendo-button>
        </div>
    </div>
</div>

<ng-template #pulsingLoader>
    <kendo-loader class="loader" themeColor="primary"size="large"></kendo-loader>
</ng-template>