.auth-logo {
    margin-bottom: 50px;
    padding: 60px;
}
  
.auth-logo:hover {
  cursor: pointer;
}

  .auth-form {
    width: 100%;
    max-width: 340px;
    font-family: "Segoe UI";
    font-style: normal;
    color: #323130;
  }
  
  .auth-form-title {
    margin: 0 0 24px 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
  
  .auth-form-subtitle {
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    opacity: 0.7;
  }
  
  .k-i-close-outline {
    color: #a80000;
  }
  
  .k-i-close {
    cursor: pointer;
  }
  
  .auth-form-fieldset {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .auth-form kendo-formfield kendo-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .auth-form kendo-textbox {
    margin: 5px 0 0 0 !important;
  }
  
  .auth-form kendo-formhint {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #652574;
    cursor: pointer;
  }
  
  .auth-form-buttons button {
    width: 100%;
  }
  
  .return-to-login {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  
  .return-to-login a {
    color: #652574;
    font-weight: 600;
    text-decoration: underline;
  }

  .login {
    border-bottom: 1px solid #652574;
  }
  
  .login:hover {
    cursor: pointer;
  }

// passwordResetSection

.passwordResetSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 50%;
}

.sentPassword {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 10px;
  text-align: center;
}

.sentPassword p {
  padding: 0;
  margin: 0;
}