@font-face {
    font-family: 'Segoe UI';
    src: url(/assets/fonts/segoeui.ttf);
  }
  
  @font-face {
    font-family: 'segoeuib';
    src: url(/assets/fonts/segoeuib.ttf);
  }
  
  @font-face {
    font-family: 'segoeuii';
    src: url(/assets/fonts/segoeuii.ttf);
  }
  
  @font-face {
    font-family: 'segoeuil';
    src: url(/assets/fonts/segoeuil.ttf);
  }
  
  @font-face {
    font-family: 'segoeuisl';
    src: url(/assets/fonts/segoeuisl.ttf);
  }
  @font-face {
    font-family: 'segoeuiz';
    src: url(/assets/fonts/segoeuiz.ttf);
  }
  
  @font-face {
    font-family: 'seguibl';
    src: url(/assets/fonts/seguibl.ttf);
  }
  
  @font-face {
    font-family: 'seguibli';
    src: url(/assets/fonts/seguibli.ttf);
  }
  
  @font-face {
    font-family: 'seguili';
    src: url(/assets/fonts/seguili.ttf);
  }
  
  @font-face {
    font-family: 'seguisb';
    src: url(/assets/fonts/seguisb.ttf);
  }
  
  @font-face {
    font-family: 'seguisbi';
    src: url(/assets/fonts/seguisbi.ttf);
  }
  
  @font-face {
    font-family: 'seguisli';
    src: url(/assets/fonts/seguisli.ttf);
  }
  