<div class="auth-logo">
  <img routerLink="/" src="assets/images/portal-auth-logo.png" alt="portal logo">
</div>
<div class="verticalCenter">
    <form class="auth-form" [formGroup]="loginForm">
      <h1 class="auth-form-title">{{viewState.authorizationModuleResourceModel.welcomeBack}}</h1>
      <h4 class="auth-form-subtitle">{{viewState.authorizationModuleResourceModel.pleaseEnterDetails}}</h4>
      <div *ngIf="viewState.serverErrorsModel.messages.length > 0" class="k-messagebox k-messagebox-error messagebox-errors">
        <div class="between">
          <div class="messagebox-errors-title">
            <span class="k-icon k-i-close-outline"></span>
            {{viewState.errorResourceListModel.pleaseFillTheFollowingFields}}
          </div>
          <span class="k-icon k-i-close" (click)="clearErrorsMessageboxClickEvent()"></span>
        </div>
        <ul>
          <li *ngFor="let error of viewState.serverErrorsModel.messages" class="messagebox-error">{{ error }}</li>
        </ul>
      </div>
      <div class="auth-form-fieldset">
        <kendo-formfield>
          <kendo-label [for]="email" text={{viewState.authorizationModuleResourceModel.emailAddress}}></kendo-label>
          <kendo-textbox formControlName="email" #email [clearButton]="true"></kendo-textbox>
          <kendo-formerror *ngIf="loginForm.controls['email']?.errors?.['required']">{{viewState.errorResourceListModel.emailEmpty}}</kendo-formerror>
          <kendo-formerror *ngIf="loginForm.controls['email']?.errors?.['email']">{{viewState.errorResourceListModel.emailValid}}</kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-label [for]="password" text={{viewState.authorizationModuleResourceModel.password}}></kendo-label>
          <kendo-textbox [rounded]="viewState.roundedModel" formControlName="password" [clearButton]="true" #password (keyup.enter)="loginButtonClickEvent(loginForm.value)">
            <ng-template kendoTextBoxSuffixTemplate>
              <button kendoButton  icon="eye" (click)="togglePasswordEyeVisibilityViewState()"></button>
            </ng-template>
          </kendo-textbox>
          <kendo-formerror>{{viewState.errorResourceListModel.password}}</kendo-formerror>
        </kendo-formfield>
        <div class="between">
          <!-- <div class="auth-remember">
            <input kendoCheckBox type="checkbox" formControlName="checkbox" #loggedin />
            <kendo-label [for]="loggedin" text="{{viewState.authorizationModuleResourceModel.rememberThisDevise}}"></kendo-label>
          </div> -->
          <kendo-formhint routerLink="/forgot-password">{{viewState.authorizationModuleResourceModel.forgotPassword}}</kendo-formhint>
        </div>
        <div class="auth-form-buttons">
          <button kendoButton themeColor="primary" (click)="loginButtonClickEvent(loginForm.value)">{{viewState.authorizationModuleResourceModel.login}}</button>
        </div>
      </div>
    </form>
</div>
